<div class="container loginForm">
  <!-- Default form login -->
  <form class="text-center p-5">

      
    <a name='login'><p class="h4 mb-4">Inicia Sesion</p></a>

      <!-- Email -->
      <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

      <!-- Password -->
      <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

      <div class="d-flex justify-content-around">
          <div>
              <!-- Remember me -->
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                  <label class="custom-control-label" for="defaultLoginFormRemember">Recuerdame</label>
              </div>
          </div>
          <div>
              <!-- Forgot password -->
              <a href="">Olvidaste la clave?</a>
          </div>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-info btn-block my-4" type="submit">Inicia Sesion</button>

      <!-- Register -->
      <p>No eres miembro?
          <a href="">Registrate!</a>
      </p>

      <!-- Social login -->
      <p>o registrate con:</p>

      <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

      <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>

      <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>

      <a class="px-2 fa-lg fb-ic"><i class="fab fa-github"></i></a>

  </form>
<!-- Default form login -->
</div>