<div class="container loginForm" data-aos="zoom-in">
  <!-- Default form login -->
  <form (submit) = "onSubmitLogin()" class="text-center p-5">


    <a name='login'><p class="h4 mb-4">Inicia Sesion</p></a>

      <!-- Email -->
      <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" data-aos="fade-right" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

      <!-- Password -->
      <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" data-aos="fade-left" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

      <div class="d-flex justify-content-around">
          <div>
              <!-- Remember me -->
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                  <label class="custom-control-label" for="defaultLoginFormRemember">Recuerdame</label>
              </div>
          </div>
          <div>
              <!-- Forgot password -->
              <a href="">Olvidaste la clave?</a>
          </div>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-info btn-block my-4" type="submit" data-aos="flip-right">Inicia Sesion</button>

      <!-- Register -->
      <p>No eres miembro?
          <a href="#" [routerLink]="['user/register']" routerLinkActive="router-link-active">Registrate!</a>
      </p>

      <!-- Social login -->
      <p>o registrate con:</p>

      <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f" data-aos="zoom-in"></i></a>

      <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter" data-aos="zoom-in"></i></a>

      <a class="px-2 fa-lg li-ic"><i class="fab fa-google-plus-g" (click)="onGoogleLogin()" data-aos="zoom-in"></i></a>

      <a class="px-2 fa-lg fb-ic"><i class="fab fa-github" data-aos="zoom-in"></i></a>

  </form>
<!-- Default form login -->
<br>
<br>
</div>
