.loginForm {
    width: 500px;
    height: 590px;
    background-color: #FFFFFF;
    opacity: 0.9;
    border-radius: 10%;
    padding-top: 1px;
  }

.blocktext {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto
}

