<!-- Section: Contact v.2 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">¡Contactanos!</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5">Somos un equipo de desarrolladores multifuncional
    que trabajamos en distintos proyectos informáticos, si te interesa ayudarnos a crecer aun más
    ¡Escribenos!
  </p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-9 mb-md-0 mb-5">

      <form>

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6">
            <div class="md-form mb-0">
                <label for="contact-name" class="">&nbsp; Tu nombre</label>
              <br>
              <input type="text" id="contact-name" class="form-control" mdbInput>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <label for="contact-email" class="">Tu email</label>
              <br>
              <input type="text" id="contact-email" class="form-control" mdbInput>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-12">
            <div class="md-form mb-0">          
              <label for="contact-Subject" class="">&nbsp; Asunto</label>
              <br>
              <input type="text" id="contact-Subject" class="form-control" mdbInput>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-12">
            <div class="md-form">
              <label for="contact-message">&nbsp; Tu mensaje</label>
              <br>
              <textarea type="text" id="contact-message" class="form-control md-textarea" rows="2"
                mdbInput></textarea>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </form>

      <div class="text-center text-md-left">
        <a mdbBtn color="primary" mdbWavesEffect>&nbsp; Enviar</a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 text-center">
      <ul class="list-unstyled mb-0">
        <li>
          <i class="fas fa-map-marked fa-2x blue-text"></i>
          <p>Valparaiso, Av Brasil 2241, Chile</p>
        </li>
        <li>
          <i class="fas fa-phone fa-2x mt-4 blue-text"></i>
          <p>+ 569 XX XX XX XX</p>
        </li>
        <li>
          <i class="fas fa-envelope fa-2x mt-4 blue-text"></i>
          <p class="mb-0">FoodAbs@gmail.com</p>
        </li>
      </ul>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Contact v.2 -->