<script>
  $(document).ready(function(){
      $(window).scroll(function () {
        if ($(window).scrollTop() >= 50) {
        $('.navbar').css('background','red');
        } else {
        $('.navbar').css('background','transparent');
        }
        });
  });
</script>

<header class="header">
  <!--Navbar -->
  <nav class="mb-1 fixed-top navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="#">FoodABS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-book"></i> FoodAPI</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Scan Image</a>
          </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
</header>
