#loginIcon {
    display:scroll;
    position:fixed;
    bottom:0px;
    right:0px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#loginIcon:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}