<div class="contenedorProfile">
  <div class="titulo">
    <h1>Bienvenido, {{user.displayName}}</h1>
  </div>

  <div class="semana">
    <h2>Registro Semanal</h2>
  </div>

  <div class="tarjeta-1">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Carbohidratos</div>
      <div class="card-body">
        <h5 class="card-title">Info Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="tarjeta-2">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Grasas</div>
      <div class="card-body">
        <h5 class="card-title">Proteinas</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="tarjeta-3">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Proteinas</div>
      <div class="card-body">
        <h5 class="card-title">Info Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="vidaSana">
    <h2>Vida Sana</h2>
  </div>

  <div class="tarjeta-4">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Carbohidratos</div>
      <div class="card-body">
        <h5 class="card-title">Info Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="tarjeta-5">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Grasas</div>
      <div class="card-body">
        <h5 class="card-title">Proteinas</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="tarjeta-6">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Proteinas</div>
      <div class="card-body">
        <h5 class="card-title">Info Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>
</div>
