<div class="contenedorProfile">
  <div class="titulo">
    <h1>Bienvenido, {{user.displayName}}</h1>
  </div>

  <div class="Titulosemana">
    <h2>Registro Semanal</h2>
  </div>

  <div class="tarjeta-1">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Carbohidratos</div>
      <div class="card-body">
        <h5 class="card-title">Info Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="tarjeta-2">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Grasas</div>
      <div class="card-body">
        <h5 class="card-title">Proteinas</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="tarjeta-3">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Proteinas</div>
      <div class="card-body">
        <h5 class="card-title">Info Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="vidaSana">
    <h2>Vida Sana</h2>
  </div>

  <div class="tarjeta-4">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Carbohidratos</div>
      <div class="card-body">
        <h5 class="card-title">Info Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="tarjeta-5">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Grasas</div>
      <div class="card-body">
        <h5 class="card-title">Proteinas</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="tarjeta-6">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Proteinas</div>
      <div class="card-body">
        <h5 class="card-title">Info Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <!--Parte de la dieta-->
  <div class="tituloDieta">
    <h2>Dieta</h2>
  </div>
    <!-- Jumbotron -->
    <div class="jumbotron text-center">

      <!-- Title -->
      <h4 class="card-title h4 pb-2"><strong>Mi Dieta</strong></h4>

      <div class="graficoDieta">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
      </div>

      <h5 class="indigo-text h5 mb-4">Dieta Mensual</h5>

      <p class="card-text">Valores referenciales a una dieta de 2000kcal basadas en el perfil del usuario {{user.displayName}}</p>

      <!-- Linkedin -->
      <a class="fa-lg p-2 m-2 li-ic"><i class="fab fa-linkedin-in grey-text"></i></a>
      <!-- Twitter -->
      <a class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-twitter grey-text"></i></a>
      <!-- Dribbble -->
      <a class="fa-lg p-2 m-2 fb-ic"><i class="fab fa-facebook-f grey-text"></i></a>

    </div>
    <!-- Jumbotron -->

</div>
