<div class="contenedorProfile">
  <div class="titulo">
    <h1>Bienvenido, {{user.displayName}}</h1>
  </div>

  <div class="contenedorIntereses">
    <div class="TituloIntereses">
      <h2>Intereses</h2>

<!-- Default unchecked -->
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
        <label class="custom-control-label" for="defaultUnchecked">Carbohidratos</label>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultUnchecked2">
        <label class="custom-control-label" for="defaultUnchecked2">Grasas</label>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
        <label class="custom-control-label" for="defaultUnchecked3">Proteinas</label>
      </div>

      <!-- Default unchecked disabled -->
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultUncheckedDisabled2" disabled>
        <label class="custom-control-label" for="defaultUncheckedDisabled2">Lácteos</label>
      </div>
    </div>
  </div>


  <div class="Titulosemana">
    <h2>Registro Semanal</h2>
  </div>

  <div class="tarjeta-1">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Carbohidratos</div>
      <div class="card-body">
        <h5 class="card-title">Info Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="tarjeta-2">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Grasas</div>
      <div class="card-body">
        <h5 class="card-title">Proteinas</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="tarjeta-3">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Proteinas</div>
      <div class="card-body">
        <h5 class="card-title">Info Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="vidaSana">
    <h2>Vida Sana</h2>
  </div>

  <div class="tarjeta-4">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Carbohidratos</div>
      <div class="card-body">
        <h5 class="card-title">Info Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="tarjeta-5">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Grasas</div>
      <div class="card-body">
        <h5 class="card-title">Proteinas</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <div class="tarjeta-6">
    <div class="card text-white bg-info" style="max-width: 20rem;">
      <div class="card-header">Proteinas</div>
      <div class="card-body">
        <h5 class="card-title">Info Panel title</h5>
        <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      </div>
    </div>
  </div>

  <!--Parte de la dieta-->
  <div class="tituloDieta">
    <h2>Dieta</h2>
  </div>
    <!-- Jumbotron -->
    <div class="jumbotron text-center">

      <!-- Title -->
      <h4 class="card-title h4 pb-2"><strong>Mi Dieta</strong></h4>

      <div class="graficoDieta">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
      </div>

      <h5 class="indigo-text h5 mb-4">Dieta Mensual</h5>

      <p class="card-text">Valores referenciales a una dieta de 2000kcal basadas en el perfil del usuario {{user.displayName}}</p>

      <!-- Linkedin -->
      <a class="fa-lg p-2 m-2 li-ic"><i class="fab fa-linkedin-in grey-text"></i></a>
      <!-- Twitter -->
      <a class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-twitter grey-text"></i></a>
      <!-- Dribbble -->
      <a class="fa-lg p-2 m-2 fb-ic"><i class="fab fa-facebook-f grey-text"></i></a>

    </div>
    <!-- Jumbotron -->

    <!-- Parte Historial de Calorias -->
    <div class="tituloHistorial">
      <h2>Historial</h2>
    </div>

    <div class="jumbotron historial">
      <table class="table">
        <thead class="info-color white-text">
          <tr>
            <th scope="col">Julio</th>
            <th scope="col">Semana 1</th>
            <th scope="col">Semana 2</th>
            <th scope="col">Semana 3</th>
            <th scope="col">Semana 4</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Calorias</th>
            <td><i class="fa fa-arrow-up">339</i></td>
            <td><i class="fa fa-arrow-up">200</i></td>
            <td><i class="fa fa-arrow-down">165</i></td>
            <td><i class="fa fa-arrow-down">201</i></td>
          </tr>
          <tr>
            <th scope="row">Carbohidratos</th>
            <td><i class="fa fa-arrow-down">160</i></td>
            <td><i class="fa fa-arrow-up">188</i></td>
            <td><i class="fa fa-arrow-down">173</i></td>
            <td><i class="fa fa-arrow-down">153</i></td>
          </tr>
          <tr>
            <th scope="row">Proteinas</th>
            <td><i class="fa fa-arrow-up">358</i></td>
            <td><i class="fa fa-arrow-up">339</i></td>
            <td><i class="fa fa-arrow-up">372</i></td>
            <td><i class="fa fa-arrow-up">105</i></td>
          </tr>
          <tr>
            <th scope="row">Grasas</th>
            <td><i class="fa fa-arrow-up">400</i></td>
            <td><i class="fa fa-arrow-up">382</i></td>
            <td><i class="fa fa-arrow-down">115</i></td>
            <td><i class="fa fa-arrow-up">98</i></td>
          </tr>
        </tbody>
      </table>
      
      <table class="table">
        <thead class="grey lighten-2">
          <tr>
            <th scope="col">Mes anterior</th>
            <th scope="col">Calorias</th>
            <th scope="col">Carbohidratos</th>
            <th scope="col">Proteinas</th>
            <th scope="col">Grasas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Junio</th>
            <td>3200</td>
            <td>2561</td>
            <td>2890</td>
            <td>2149</td>
          </tr>
        </tbody>
      </table>
    </div>

</div>
