.titulo{
  position:absolute;
  top: 40%;
  right: 30%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 150px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 3px 5px 2px #474747;
  color: #FFFFFF;
}

.subtitulo{
  position:absolute;
  top: 65%;
  right: 22%;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  color: #f44336;
}

.fondo1{
  height: 700px;
  background: #212121;
}

.fondo2{
  padding-top: 99px;
  height: 500px;
  background: #d7ccc8;
}

.fondo3{
  height: 700px;
  text-align: center;
  background: #212121;
}

.centrar{
  padding-top: 100px;
}

.fondo4{
  background: url(../../assets/img/imagenComidaFondo2.png) no-repeat center;
  background-size: cover; /*Adaptacion al contenedor 100% de la pantalla */
  min-height: 100vh; /*Usar todo el alto de la pantalla*/
  height: 300px;
  padding-top: 80px;

}


.loginForm {
  width: 500px;
  height: 590px;
  background-color: #FFFFFF;
  opacity: 0.9;
  border-radius: 10%;
  padding-top: 1px;
}

#imagenFondo1 {
  margin-top: 200px;
  margin-left: 80px;
}
