<section class="fondologo">

</section>

<h1 class="display-1 titulo">FoodABS</h1>
<p class="lead subtitulo">
    Clasificador de comidas basado en aprendizaje automático
</p>

<div class="container-fuid fondo1 text-center">
    <img src="assets/img/paso1infografiapho2.png" class="img-responsive center-block img-fluid" id="imagenFondo1" data-aos="zoom-in">
</div>

<div class="container-fluid fondo2">
      <h1 style="text-align: center">Clasifica tu comida</h1>
      <br>

      <dropzone data-aos="fade-up" [config]="config" [message]="'Click or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>

      <br>
      <br>
      <h1 style="text-align: center">Comida detectada: {{foodDetection}} </h1>
</div>

<div class="container-fluid fondo3">
    <br>
    <br>
    <br>
    <h1 style="color: white">Tecnologías</h1>
    <div class="container centrar">
        <div class="row equal">
          <div class="col d-flex pb-3">
            <!-- Card -->
            <div class="card" data-aos="fade-right">
                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top" src="../../assets/img/TensorFlowLogo.png" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                  <!-- Title -->
                  <h4 class="card-title">TensorFlow</h4>
                  <!-- Text -->
                  <p class="card-text">TensorFlow es una biblioteca de código abierto para aprendizaje automático a través de un rango de tareas, y desarrollado por Google.</p>
                  <!-- Button -->
                  <a href="https://www.tensorflow.org/">
                    <button type="button" class="btn btn-info">Leer más</button>
                  </a>
                </div>
              </div>
            <!-- Card -->
          </div>
          <div class="col d-flex pb-3">
            <!-- Card -->
            <div class="card" data-aos="fade-up">
                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top" src="../../assets/img/KerasLogo.png" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                  <!-- Title -->
                  <h4 class="card-title">Keras</h4>
                  <!-- Text -->
                  <p class="card-text">Keras es una biblioteca de Redes Neuronales de Código Abierto. Está especialmente diseñada para posibilitar la experimentación en poco tiempo con redes de Aprendizaje Profundo.</p>
                  <!-- Button -->
                  <a href="https://keras.io/">
                    <button type="button" class="btn btn-info">Leer más</button>
                  </a>
                </div>
              </div>
            <!-- Card -->
          </div>

          <div class="col d-flex pb-3">
            <!-- Card -->
            <div class="card" data-aos="fade-left">
                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top" src="../../assets/img/PythonLogo.png" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                  <!-- Title -->
                  <h4 class="card-title">Python</h4>
                  <!-- Text -->
                  <p class="card-text">Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en una sintaxis que favorezca un código legible.</p>
                  <!-- Button -->
                  <a href="https://www.python.org/">
                    <button type="button" class="btn btn-info">Leer más</button>
                  </a>
                </div>
              </div>
            <!-- Card -->
          </div>

        </div>
    </div>
</div>

<div class="container-fluid fondo4">
    <app-login></app-login>
</div>

